.connection-container {
  display: flex;
}

.leftSection {
  width: 40vw;
  height: 100vh; /* Take full height of viewport */
  padding: 20px;
  box-sizing: border-box;
}

.rightSection {
  width: 60vw;
  height: 100vh; /* Take full height of viewport */
  padding: 20px;
  box-sizing: border-box;
}

.leftSection {
  margin-left: 50px;
}

.leftSection {
  background-color: black; /* Darker color for left section */
}

.rightSection {
  background-color: black; /* Dark color for right section */
}

.profile {
  background-color: #333;
  color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.profile-content {
  display: flex;
  align-items: center; /* Align avatar and content vertically */
  justify-content: space-between;
}

.profile-avatar {
  width: 80px; /* Adjust as per your preference */
  height: 80px; /* Adjust as per your preference */
  border-radius: 50%; /* To make it circular */
  margin-right: 20px; /* Adjust spacing between avatar and content */
}

.profile h2 {
  margin-top: 0;
}

.profile p {
  margin-bottom: 0;
}

.profile-details {
  display: flex;
  flex-direction: column;
}

.profile-button {
  background-color: rgb(168, 169, 170);
  color: #333;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 0;
  width: 10vw;
}

.profile-button-disable {
  background-color: #777b78;
  color: #fff;
  border: none;
  cursor: not-allowed;
  border-radius: 4px;
  padding: 10px 20px;
  margin-right: 0;
  width: 10vw;
}
